<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/main.css">
  <script src="./jquery/dist/jquery.js"></script>
  <script src="./sort.js"></script>
</head>

<body>
  <table>
    <thead>
      <tr>
        <th data-tag='name' data-flag=1>姓名</th>
        <th data-tag='chinese' data-flag=1>语文</th>
        <th data-tag='math' data-flag=1>数学</th>
        <th data-tag='english' data-flag=1>英语</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      {{#each scores}}
      <tr id={{id}}>
        <td>{{name}}</td>
        <td>{{chinese}}</td>
        <td>{{math}}</td>
        <td>{{english}}</td>
        <td class='delete' data-id={{id}}>删除</td>
      </tr>
      {{/each}}

    </tbody>
    <tfoot>
      <tr class="add-info">
        <td>
          <input class="name" type="text">
        </td>
        <td>
          <input class="chinese" type="text">
        </td>
        <td>
          <input class="math" type="text">
        </td>
        <td>
          <input class="english" type="text">
        </td>
        <td>
          <input type="button" class='add' value="添加">
        </td>
      </tr>
    </tfoot>

  </table>
</body>

</html>
