table{
  width: 980px;
  border-collapse: collapse;
  margin: auto;
  text-align: center;
}
table th{
  background-color: #D9EDF7;
}

tfoot .add-info{
    background-color: #D9EDF7;
}


tbody tr:nth-child(odd) >td{
  background-color: #FCF8E3;
}


.operate{
  margin: auto;
  position: relative;
  width: 100px;
}
